@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap');

@import 'tailwindcss';

@theme {
	--font-pixelify: 'Pixelify Sans', ui-sans-serif, system-ui, sans-serif;
	--font-doto: 'Doto', ui-sans-serif, system-ui, sans-serif;
	--font-headline: 'Space Grotesk', sans-serif;
	--color-darkgray: #1e1e1e;
	--color-lightgray: #737373;
	--color-primary: oklch(45.9% 0.187 3.815);
	--color-primary-light: oklch(65.6% 0.241 354.308);
}

:root {
	font-family: 'Manrope', ui-sans-serif, sans-serif, system-ui;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.89);
	background-color: #000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

img {
	display: inline-block;
	object-fit: cover;
	vertical-align: middle;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

strong {
	color: var(--color-primary-light);
}

@supports (not selector(::-webkit-scrollbar)) {
	html {
		scrollbar-color: var(--color-primary) var(--color-darkgray);
		scrollbar-width: thin;
	}
}

@supports selector(::-webkit-scrollbar) {
	::-webkit-scrollbar {
		width: 8px;
		height: 4px;
	}
	::-webkit-scrollbar-track {
		background: #000;
	}
	::-webkit-scrollbar-thumb {
		background: var(--color-primary);
	}
	::-webkit-scrollbar-thumb:hover {
		background: var(--color-primary-light);
	}
	::-webkit-scrollbar-button {
		display: none;
	}
}
